.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header-main-div-class {
  height: 75%;
  background-color: #084bc7;
}

.header-menu {
  font-weight: 600;
  cursor: pointer;
}

.header-menu:hover {
  background-color: #084bc7 !important;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
}

.header-border {
  border: 0.1rem solid white !important;
  font-weight: 600;
}

.home-bold-text {
  font-size: 40px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.home-about-text {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;

}